@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap%27');

@font-face{
    font-family: Futura;
    src: url(fonts/futur.ttf);
}

$white: rgb(230, 230, 230);
$orange: #EC651E;
$black: black;
$light-black: #505050;
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
.page{
    width: 100%;
    display: flex;
    text-align:center;
    background-color:$white;
    .page-container{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .page-title{
        &::selection {
            background-color: $orange;
        }
        font-family: 'Roboto', sans-serif;
        color: $light-black;
        padding-top:80px;
        text-align: center;
        padding-bottom: 20px;
        font-size: 52px;
        font-weight: bold;
        i{
            font-size: 30px;
            vertical-align: middle;
        }
    }
    .text-container{
        max-width: 1465px ;
        margin-right: auto;
        margin-left:auto;
    }
    .text {
        &::selection {
            background-color: $orange;
        }
        font-family: 'Roboto', sans-serif;
        color: $light-black;
        text-align: justify;
        padding-left:5%;
        padding-right:5%;
        font-size: 24px;
        letter-spacing: 0.04vw;
        word-spacing: 0px;
    }
    
    .button {
        cursor:pointer;
        overflow:hidden;
        outline:none;
        border:none;
        padding:15px;
        display:block;
        margin:20px auto;
        font-size:22px;
        background-color:transparent;
        position:relative;
        border-radius: 1px;
        font-family: 'Roboto', sans-serif;
        transition: .1s;
        &:focus{
            outline:none;
        }
    }
    .page-button{
        margin-bottom: 30px;
        color:$orange;
        border:2px solid $orange;    
        &:hover {
            color:$white;
            background-color: $orange;  
            border:2px solid $orange;    
        }        
    }
    .next-page-button-container{
        .next-page-button{
            margin-bottom: 15px;
            cursor:pointer;
            background-color: transparent;
            border:none;
            width:50px;
            &.b1 {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(21deg) brightness(104%) contrast(104%);
                &:hover{
                    filter: invert(64%) sepia(55%) saturate(6992%) hue-rotate(353deg) brightness(99%) contrast(87%);
                    border:none;
                }
            }
            &.b2 {
                filter: invert(64%) sepia(55%) saturate(6992%) hue-rotate(353deg) brightness(99%) contrast(87%);
                &:hover{
                    filter: brightness(0) saturate(100%);
                    border:none;
                }
            }
            &.b3{
                filter: invert(64%) sepia(55%) saturate(6992%) hue-rotate(353deg) brightness(99%) contrast(87%);
                &:hover{
                    filter: brightness(0) saturate(100%);
                    border:none;
                }
            }
            &.b4{
                visibility: hidden;
                filter: invert(64%) sepia(55%) saturate(6992%) hue-rotate(353deg) brightness(99%) contrast(87%);
                &:hover{
                    filter: brightness(0) saturate(100%);
                    border:none;
                }
            }
            &:focus{
                outline:none;
            }
        }
        &.bounce {
            -moz-animation: bounce 1.2s infinite;
            -webkit-animation: bounce 1.2s infinite;
            animation: bounce 1.2s infinite;
            @keyframes bounce {
                60% {
                    transform: translateY(-10px);
                }
            }
        }
    }
}
@media screen and (max-width: 545px){
    .page{
        .page-title{
            font-size:35px;
        }
        .text{
            font-size:20px !important;
        }
        &.what-we-do{
            .services{
                font-size:20px;
            }
        }
    }
}
@media screen and (max-width: 380px){
    .page{
        .page-title{
            font-size:30px;
        }
        .text{
            font-size:18px !important;
        }
    }
}
/*Nav*/
.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index:9999;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 3rem;
        img{
            transition: 0s;
            background-color: black;

        }
        a {
            text-decoration: none;
            color: $white;
            font-size: 2.5rem;
            &:hover {
                color: $orange;
            }
        }
        span, b{
            background-color: black;
        }
    }
    div.main_list {
        height: 65px;
        float: right;
        ul {
            width: 100%;
            height: 65px;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                width: auto;
                height: 65px;
                padding: 0;
                padding-right: 3rem;
                select{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    font-family: 'FontAwesome', 'sans-serif';
                    cursor: pointer;
                    background-color: transparent;
                    border:none;
                    outline: none;
                    vertical-align: middle;
                    
                    text-decoration: none;
                    color: $white;
                    font-size: 2.4rem;
                    display: inline-block;
                    position: relative;
                    option{
                        
                        font-family: 'Roboto', sans-serif;
                        background-color: rgb(33, 33, 33,0.7);
                        border:none;
                        outline:none;
                        color:$white;
                    }
                }
                a{
                    text-decoration: none;
                    color: $white;
                    line-height: 65px;
                    font-size: 2.4rem;
                    display: inline-block;
                    position: relative;
                    &:after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 10px;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $orange;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }
                    &:hover:after{ 
                        width: 100%; 
                        left: 0; 
                    }
                }
            }
        }
    }
    &.affix {
        padding-top: 0;
        background-color: rgb(33, 33, 33,0.7);
        
        div.logo {
            img{
                background-color: transparent;
            }
            span, b{
                background-color: transparent;
            }
        }
    }
}
.navTrigger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 0px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    i {
        background-color: $white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        &:nth-child(1) {
            -webkit-animation: outT 0.8s backwards;
            animation: outT 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
        
        &:nth-child(2) {
            margin: 5px 0;
            -webkit-animation: outM 0.8s backwards;
            animation: outM 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
        
        &:nth-child(3) {
            -webkit-animation: outBtm 0.8s backwards;
            animation: outBtm 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
    }

    &.active{
        i{
            &:nth-child(1){
                -webkit-animation: inT 0.8s forwards;
                animation: inT 0.8s forwards;
            }
            &:nth-child(2){
                -webkit-animation: inM 0.8s forwards;
                animation: inM 0.8s forwards;
            }
            &:nth-child(3) {
                -webkit-animation: inBtm 0.8s forwards;
                animation: inBtm 0.8s forwards;
            }
        }
    }
    
}
/* Media query section */
@media screen and (min-width: 1100px){
    .container {
        margin: 0;
    }
    .what-we-do, .our-work, .technologies{
        height:100%;
    }
}
@media screen and (max-width:800px){
    .navTrigger {
        display: block;
        transition: all 0.4s ease;
    }
    .nav,.page-nav{
        div.logo{
            margin-left: 15px;
            line-height: 0px;
            a{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                span,b{
                    height: 25px;
                }
            }
        }
        div.main_list {
            width: 40%;
            margin-top:55px;
            height: 0;
            overflow: hidden;
            text-align: right;
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                right: 0;
                left: 0;
                bottom: 0;
                background-color:rgb(33, 33, 33,0.7);
                /*same background color of navbar*/
                background-position: center top;
                ul li{
                    width: 100%;
                    text-align: right;
                    a{
                        text-align: center;
                        width: 100%;
                        font-size: 3rem;
                        padding: 20px;
                        &:after {    
                            background: none repeat scroll 0 0 transparent;
                            bottom: 30px;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: $orange;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0px;
                        }
                        &:hover:after { 
                            position: absolute;
                            width: 100%; 
                        }
                    }
                }
            }
            &.show_list {
                height: auto;
                display: none;
            }
        }
        
        div.media_button {
            display: block;
        }
        &.affix{
            padding-top:10px !important;
            ul{
                background-color:rgb(33, 33, 33,0.7);
            }
            .navTrigger{
                padding-bottom:23px;
                transition: all 0.4s ease;
            }
        }
    }
}
@media screen and (max-width:367px){
    .nav{
        div.main_list{
            margin-top:5px !important;
        }
    }
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

#photo_bg{
    position: absolute;
    bottom: 0; 
    right: 10%; 
    width:600px;
}
.home-page {
    background-color:$black;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

    .home-lines {  
        position:absolute;
        left:0;
        top:0;
        vertical-align: top;
        .line{
            stroke:$white;
            stroke-width:2;
        }
        .line-left{
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            animation: line-left 1.5s forwards,
                        line-left-iddle 15s linear infinite;
            -webkit-animation: line-left 1.5s forwards, 
                                line-left-iddle 15s linear infinite;
        }
        @keyframes line-left{
            100% { transform: translateY(0%); }
        }
        @-webkit-keyframes line-left {
            100% { -webkit-transform: translateY(0%); }
        }
        
        @keyframes line-left-iddle {
            50% {
                transform: translateY(5%);
            }
        }
        @-webkit-keyframes line-left-iddle {
            50% { -webkit-transform: translateY(5%);}
        }
        
        .line-right{
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            animation: line-right 1.5s forwards,
                        line-right-iddle 15s linear infinite;
            -webkit-animation: line-right 1.5s forwards, 
                                line-right-iddle 15s linear infinite;
        }
        @keyframes line-right{
            100% { transform: translateY(0%); }
        }
        @-webkit-keyframes line-right {
            100% { -webkit-transform: translateY(0%); }
        }
        @keyframes line-right-iddle {
            50% {transform: translateY(-5%);}
        }
        @-webkit-keyframes line-right-iddle {
            50% {-webkit-transform: translateY(-5%);}
        }
        .line-top{
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            animation: line-top 1.5s forwards,
                                line-top-iddle 15s linear infinite;
            -webkit-animation: line-top 1.5s forwards,
                                line-top-iddle 15s linear infinite;
            
        }
        @keyframes line-top{
            100% { transform: translateX(0%); }
        }
        @-webkit-keyframes line-top {
            100% { -webkit-transform: translateX(0%); }
        }
        @keyframes line-top-iddle {
            50% {transform: translateX(5%);}
        }
        @-webkit-keyframes line-top-iddle {
            50% {-webkit-transform: translateX(5%);}
        }

        .line-bottom{
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            animation: line-bottom 1.5s forwards,
                        line-bottom-iddle 15s linear infinite;
            -webkit-animation: line-bottom 1.5s forwards,
                                line-bottom-iddle 15s linear infinite;
            
        }
        @keyframes line-bottom{
            100% { transform: translateX(0%); }
        }
        @-webkit-keyframes line-bottom {
            100% { -webkit-transform: translateX(0%); }
        }
        @keyframes line-bottom-iddle {
            50% {transform: translateX(-5%);}
        }
        @-webkit-keyframes line-bottom-iddle {
            50% {-webkit-transform: translateX(-5%);}
        }
    }
    
    .titles-container{
        margin-top:35vh;
        margin-left:15%;
        margin-right:15%;
        
    }
    .home-title{
        font-size: 52px;
        color: $white;
    }
    .home-subtitle{
        font-size: 24px;
        color:$white;
    }
    .project-text{
        font-size: 22px;
        color:$white;
        margin-top:10vh;
    }

    .main-button{
        font-size: 22px;
        color:$white;
        border:2px solid $white;    
        &:hover {
            color:$black;
            background-color: $white;  
            border:2px solid $white;    
        }        
    }
}

@media screen and (max-width:1024px) and (max-height:400px){
    .home-page{
        .home-title{
            font-size:7vh !important;
        }
        .home-subtitle{
            font-size:4vh !important;
        }
        .project-text{
            margin-top: 3.5vh !important;
            font-size: 3.5vh !important;
        }
        .main-button{
            padding:2% !important;
            font-size: 3.5vh !important;
        }
        .titles-container{
            margin-top:25vh !important;
        }
    }
}
@media screen and (max-width:900px){
    .ws-contact{
        .page-contact-form-container{
            padding-left:0 !important;
            padding-right:0 !important;
        }
    }
    .home-page{
        .home-lines{
            .line-left{
                transform: translateY(-100%);
                -webkit-transform: translateY(-100%);
                animation: line-left 1.5s forwards !important;
                -webkit-animation: line-left 1.5s forwards !important;
            }
            @keyframes line-left{
                100% { transform: translateY(0%); }
            }
            @-webkit-keyframes line-left {
                100% { -webkit-transform: translateY(0%); }
            }
            .line-right{
                transform: translateY(100%);
                -webkit-transform: translateY(100%);
                animation: line-right 1.5s forwards !important;
                -webkit-animation: line-right 1.5s forwards !important;
            }
            @keyframes line-right{
                100% { transform: translateY(0%); }
            }
            @-webkit-keyframes line-right {
                100% { -webkit-transform: translateY(0%); }
            }
            .line-top{
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                animation: line-top 1.5s forwards !important;
                -webkit-animation: line-top 1.5s forwards !important;
                
            }
            @keyframes line-top{
                100% { transform: translateX(0%); }
            }
            @-webkit-keyframes line-top {
                100% { -webkit-transform: translateX(0%); }
            }
    
            .line-bottom{
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                animation: line-bottom 1.5s forwards !important;
                -webkit-animation: line-bottom 1.5s forwards !important;
                
            }
            @keyframes line-bottom{
                100% { transform: translateX(0%); }
            }
            @-webkit-keyframes line-bottom {
                100% { -webkit-transform: translateX(0%); }
            }            
        }
    }
}

@media screen and (max-width:1024px) and (max-height:768px){
    .project-text{
        margin-top: 20px !important;
    }

}

@media screen and (max-width: 775px) and (min-height:500px){
    .home-page{
        .home-title{
            font-size:4.5vh;
        }
        .home-subtitle{
            font-size:2.5vh;
        }
        .project-text{
            font-size: 2.5vh;
        }
        .main-button{
            font-size:2.5vh
        }
    }
    .ws-contact{
        .page-contact-form-container{
            padding-left:0 !important;
            padding-right:0 !important;
        }
    }
    
    #photo_bg{
        right: 0;
        left:0;
        margin-left: auto;
        margin-right: auto;
        width:400px;
    }
}
@media screen and (max-width: 622px) and (min-height:400px){
    .home-page{
        .titles-container{
            margin-top:25vh
        }
    }
}
@media screen and (max-width: 401px) and (min-height:400px){
    .home-page{
        .titles-container{
            margin-top:25vh
        }
        .project-text{
            margin-top:4vh;
        }
    }
    .ws-about{
        .core{
            .core-element{
                height:385px !important;
            }
        }
    }
    #photo_bg{
        width:300px;
    }
}
.what-we-do{
    .text-container{
        max-width: 800px;
    }
    .services{
        padding-top:30px;
        text-align: center;
        font-size:22px;
        font-family: 'Roboto', sans-serif;
        .row{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        img{
            padding-top:20px;
            filter: invert(49%) sepia(46%) saturate(4743%) hue-rotate(353deg) brightness(99%) contrast(87%);
        }
        .service-container{
            max-width:265px;
            height:219px;
            cursor: pointer;
            &:hover{
                background-color: $orange;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
                img{
                    filter:invert(100%) sepia(7%) saturate(14%) hue-rotate(323deg) brightness(105%) contrast(101%);
                }
                .service{
                    color:$white
                }
            }
        }
        .service{
            text-align: center;
            color: $light-black;
        }
    }
}

.our-work{
    .portfolio{
        text-align: center;
        display:block;
        max-width: 960px;
        .portfolio-image{
            display: inline-block;
            margin: 30px 5px;
            img{
                width: 100%;
                max-width:350px;
                padding: 0 15px;
                vertical-align: middle;
            }
        }
    }
}

.technologies{
    background-color:$orange;
    .text{
        &::selection {
            background-color: $light-black
        }
    }
    .page-title{
        &::selection {
            background-color: $light-black
        }
    }

    .page-title{
        color: $white ;
    }
    .text-container{
        max-width: 800px;
        .text{
            color: $white ;
        }
    }
    .prog-icons{
        margin-top: 25px;
        max-width: 1200px;
        text-align: center;
        justify-content: center;
        .prog-icon{
            margin: 30px 0px;
            img{
                max-height: 70px;
                max-width: 200px;
                width: auto;
                padding: 0 15px;
                vertical-align: middle;
                border-style: none;
            } 
            #plotly{
                margin-top:10px;
                max-height: 70px;
                max-width: 155px;
            }
            #spark{
                margin-top:0;
                max-height: 50px;
            }
            #bootstrap{
                margin-top:5px;
                max-height: 60px;
                max-width: 155px;
            }
            #php{
                margin-top:5px;
                max-width: 145px;
            }
        }
    }
}

footer{
    background-color:$light-black;
    .footer-container{
        padding-top:90px;
        padding-bottom: 90px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        color:$white;
        .footer-section{
            width: 33%;
            display:flex;
            flex-direction: column;
            font-size: 22px;
            .footer-title{
                font-size: 24px;
            }
            .footer-section-content{
                margin-top:25px;
            }
            &.footer-logo{
                justify-content: start;
                margin-top: 100px;
                img{
                    margin-left:auto;
                    margin-right:auto;
                    width: 250px;
                }
            }
           &.footer-connect{
                .footer-section-content{
                    .social-media{
                        padding-top:10px;
                        span{
                            margin-left:5px;
                        }
                    }
                }
                a{
                    color:$white;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i{
                    color:$white;
                }
            }
            
            &.footer-contact-form{
                .form-container{
                    .field{
                        margin-top:5px;
                        margin-bottom:10px;
                        input{
                            padding-left:15px;
                            padding-top:15px;
                            padding-bottom: 15px;
                            &:hover{
                                border-color: $orange;
                                outline:none;
                            }
                            &:focus{
                                border-color: $orange !important;
                                outline:none;
                            }
                        }
                        textarea{
                            padding-left:15px;
                            padding-top:15px;
                            padding-bottom: 15px;
                            &:hover{
                                border-color: $orange;
                                outline:none;
                            }
                            &:focus{
                                border-color: $orange;
                                outline:none;
                            }
                        }
                    }
                    .form-button{
                        cursor:pointer;
                        overflow:hidden;
                        outline:none;
                        border:none;
                        padding:15px;
                        display:block;
                        margin:20px auto;
                        font-size:22px;
                        background-color:transparent;
                        position:relative;
                        margin-left:0;
                        border-radius: 1px;
                        font-family: 'Roboto', sans-serif;
                        transition: .1s;
                        color:$white;
                        border:2px solid $white; 
                        &:focus{
                            outline:none;
                            border:none;
                        }   
                        &:hover {
                            color:$light-black;
                            background-color: $white;  
                            border:2px solid $white;    
                        }
                    }
                }
            }
        }
        
    }
    .social-media-container{
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}
@media screen and (max-width:800px){
    footer{
        .footer-container{
            flex-direction:column;
            align-items: center;
            padding:0;
            .footer-section{
                padding-top:80px;
                font-size: 18px;
                width: 100%;
                .footer-title{
                    font-size: 22px;
                }
                &.footer-connect{
                    .footer-section-content{
                        margin-left:40px;
                    }
                }
            }
        }
    }
}


/*Page-Nav*/
.page-nav{

    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    z-index:9999;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 3rem;
        a {
            text-decoration: none;
            color: $white;
            font-size: 2.5rem;
            &:hover {
                color: $orange;
            }
            img{
                filter: brightness(0);
            }
        }
    }
    div.main_list {
        height: 65px;
        float: right;
        ul {
            width: 100%;
            height: 65px;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                width: auto;
                height: 65px;
                padding: 0;
                padding-right: 3rem;
                a {
                    text-decoration: none;
                    color: $light-black;
                    line-height: 65px;
                    font-size: 2.4rem;
                    display: inline-block;
                    position: relative;
                    &:after {    
                        background: none repeat scroll 0 0 transparent;
                        bottom: 10px;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $orange;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }
                    &:hover:after { 
                        width: 100%; 
                        left: 0; 
                    }
                }
            }
        }
    }
    &.affix {
        padding-top: 0;
        background-color: rgba(220, 220, 220, 0.7);
    }
}
.page-navTrigger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 0px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    i {
        background-color: $light-black;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        &:nth-child(1) {
            -webkit-animation: outT 0.8s backwards;
            animation: outT 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
        
        &:nth-child(2) {
            margin: 5px 0;
            -webkit-animation: outM 0.8s backwards;
            animation: outM 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
        
        &:nth-child(3) {
            -webkit-animation: outBtm 0.8s backwards;
            animation: outBtm 0.8s backwards;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
    }

    &.active{
        i{
            &:nth-child(1){
                -webkit-animation: inT 0.8s forwards;
                animation: inT 0.8s forwards;
            }
            &:nth-child(2){
                -webkit-animation: inM 0.8s forwards;
                animation: inM 0.8s forwards;
            }
            &:nth-child(3) {
                -webkit-animation: inBtm 0.8s forwards;
                animation: inBtm 0.8s forwards;
            }
        }
    }
    
}

/* Media query section for page-nav */

@media screen and (max-width:800px){
    .page-navTrigger {
        display: block;
        transition: all 0.4s ease;
    }
    .page-nav{
        div.logo {
            margin-left: 15px;
            line-height: 0px;
        }
        div.main_list {
            width: 40%;
            margin-top:55px;
            height: 0;
            overflow: hidden;
            text-align: right;
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                right: 0;
                left: 0;
                bottom: 0;
                /*same background color of navbar*/
                background-position: center top;
                background-color:rgb(220,220,220,0.7);
                ul li{
                    width: 100%;
                    text-align: right;
                    a{
                        text-align: center;
                        width: 100%;
                        font-size: 3rem;
                        padding: 20px;
                        &:after {    
                            background: none repeat scroll 0 0 transparent;
                            bottom: 30px;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: $orange;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0px;
                        }
                        &:hover:after { 
                            position: absolute;
                            width: 100%; 
                        }
                    }
                }
            }
            &.show_list {
                height: auto;
                display: none;
            }
        }
        
        div.media_button {
            display: block;
        }
        &.affix{
            padding-top:10px !important;
            ul{
                background-color: rgba(220, 220, 220, 0.7);
            }
            .page-navTrigger{
                padding-bottom:23px;
                transition: all 0.4s ease;
            }
        }
    }
}

@media screen and (max-width:367px){
    .page-nav{
        div.main_list{
            margin-top:5px !important;
        }
    }
}

.ws-page{
    .page-container{
        .page-title{
            padding-top: 130px;
        }
    }
}

.ws-about{
    .text-container{
        padding-top: 30px;
        max-width: 1010px;
    }
    .core{
        padding-bottom: 50px;
        padding-top:50px;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        .core-element{
            border: solid $light-black;
            padding-left: 0px;
            padding-right: 0px;
            display:flex;
            height:400px;
            justify-content: center;
            .core-lines {  
                position:absolute;
                left:0;
                top:0;
                width:100%;
                .core-line{
                    stroke:$white;
                    stroke-width:2;
                }
                .core-line-left{
                    transform: translateY(-100%);
                    -webkit-transform: translateY(-100%);
                    -webkit-animation: core-line-left 1.5s forwards;
                    animation: core-line-left 1.5s forwards,
                                core-line-left-iddle 15s linear infinite;
                }
                @keyframes core-line-left{
                    100% { transform: translateY(0%); }
                }
                @-webkit-keyframes core-line-left {
                    100% { -webkit-transform: translateY(0%); }
                }
                @keyframes core-line-left-iddle {
                    50% {
                        transform: translateY(5%);
                    }
                }
                
                .core-line-right{
                    transform: translateY(100%);
                    -webkit-transform: translateY(100%);
                    -webkit-animation: core-line-right 1.5s forwards;
                    animation: core-line-right 1.5s forwards,
                                core-line-right-iddle 15s linear infinite;
                }
                @keyframes core-line-right{
                    100% { transform: translateY(0%); }
                }
                @-webkit-keyframes core-line-right {
                    100% { -webkit-transform: translateY(0%); }
                }
                @keyframes core-line-right-iddle {
                    50% {
                        transform: translateY(-5%);
                    }
                }
                .core-line-top{
                    transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    -webkit-animation: core-line-top 1.5s forwards;
                    animation: core-line-top 1.5s forwards,
                    core-line-top-iddle 15s linear infinite;
                }
                @keyframes core-line-top{
                    100% { transform: translateX(0%); }
                }
                @-webkit-keyframes core-line-top {
                    100% { -webkit-transform: translateX(0%); }
                }
                @keyframes core-line-top-iddle {
                    50% {
                        transform: translateX(5%);
                    }
                }
                .core-line-bottom{
                    transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    -webkit-animation: core-line-bottom 1.5s forwards;
                    animation: core-line-bottom 1.5s forwards,
                    core-line-bottom-iddle 15s linear infinite;
                }
                @keyframes core-line-bottom{
                    100% { transform: translateX(0%); }
                }
                @-webkit-keyframes core-line-bottom {
                    100% { -webkit-transform: translateX(0%); }
                }
                @keyframes core-line-bottom-iddle {
                    50% {
                        transform: translateX(-5%);
                    }
                }
            }
            .core-content{
                width:100%;
                background-color: $black;
                vertical-align: middle;
                position: relative;
                .text-title{
                    font-family: 'Roboto', sans-serif;
                    text-align: justify;
                    font-size: 24px;
                    letter-spacing: 0.1vw;
                    color:$orange;
                    text-align: center;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;display:flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .text{
                    .core-lines{
                        .core-line{
                            opacity: 0;
                            stroke:$orange;
                            stroke-width:2;
                        }
                    }
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background:rgba(90, 90, 90, 0.8);
                    color: #fff;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .2s, visibility .2s;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    

                }
                &:hover{
                    .text{
                        visibility: visible;
                        opacity: 1;
                    }
                    .text-title{
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1200px) and (max-width:1450px){
    .ws-about{
        .core{
            .core-element{
                .core-content{
                    .text-title{
                        font-size:20px;
                    }
                    .text{
                        font-size:20px;

                    }
                }
            }
        }
    }
}
@media screen and (max-width:350px){
    .ws-about{
        .core{
            .core-element{
                .core-content{
                    .text-title{
                        font-size:190%;
                    }
                }
            }
        }
    }
}
.ws-services{
    .text-container{
        padding-top: 0px;
    }
    #service-text{
        padding-top:50px;
        max-width: 1000px;
    }
    .services{
        padding-left: 0;
        padding-right: 0;
        display: block;
        padding-bottom: 50px;
        padding-top: 50px;
        .service-element{
            border:solid;
            padding: 0;
            .image-wrap{
                cursor: pointer;
                position: relative;
                width: 100%;
                img{
                    height: 300px;
                    width:100%;
                    object-fit: cover;
                    overflow-x: hidden;
                }
                .text-title{
                    position:absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color:$orange;
                    font-weight: bold;
                    text-align:center;
                }
                .image-description{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background:rgba(220, 220, 220, 0.8);
                    color: #fff;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .2s, visibility .2s;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    .text{
                        text-align: center;
                    }
                }
                &:hover{
                    .image-description{
                        visibility: visible;
                        opacity: 1;
                    }
                    .text-title{
                        visibility: hidden;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:850px){
    .ws-services{
        .text-container{
            width: 850px;
        } 
    }
}
@media screen and (max-width:1200px){
    .ws-services{
        .services{
            .service-element{
                img{
                    height: 300px !important;
                }
            }
        }
    }
}

.ws-contact{
    a:link, a:visited{
        color:$orange;
    }
    .page-contact-form-container{
        padding:30px 100px 30px 100px ;
        .field{
            font-size: 22px;
            color: $light-black;
            font-family: 'Roboto', sans-serif;
            margin-top:10px;
            margin-bottom:20px;
            input{
                padding:15px;
                border:solid 2px;
                border-color: $light-black;
                height: 50px;
                &:hover{
                    border-color: $orange;
                    outline:none;
                }
                &:focus{
                    border-color: $orange;
                    outline:none;
                }
            }
            textarea{
                padding-left:15px;
                padding-top:15px;
                border:solid 2px;
                border-color: $light-black;
                height:100px;
                margin-bottom: 20px;
                &:hover{
                    border-color: $orange;
                    outline:none;
                }
                &:focus{
                    border-color: $orange;
                    outline:none;
                }
            }
        }
        .form-button{
            cursor:pointer;
            overflow:hidden;
            outline:none;
            border:none;
            padding:15px;
            display:block;
            margin:20px auto;
            font-size:22px;
            background-color:transparent;
            position:relative;
            margin-left:0;
            border-radius: 1px;
            font-family: 'Roboto', sans-serif;
            transition: .1s;
            color:$orange;
            border:2px solid $orange; 
            &:focus{
                outline:none;
            }   
            &:hover {
                color:$white;
                background-color: $orange;  
                border:2px solid $orange;    
            }
        }
    }
}


.ws-work{
    transition: 0.4s;
    .page-container{
        .showcase{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: calc(100vh - 217px);
            .showcase-image{
                cursor: pointer;
                border-radius: 5px;
                box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.15);
                max-width: 100%;
                max-height: calc(90vh - 217px);
            }
            .arrow{
                cursor: pointer;
                fill:$white;
                stroke: $white;
                height:50px;
                width:auto;
                &.left{
                    transform: rotate(90deg);
                }
                &.right{
                    transform: rotate(-90deg);
                }
            }
        }
        .portfolio-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 50px;
            margin-top: 20px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            .portfolio-card{
                cursor: pointer;
                margin:50px 50px;
                box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.15);
                width:350px;
                transition: 0.4s;
                border-radius: 5px;
                &:hover{
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
                }
                .portfolio-card-image{
                    border-radius: 5px;
                    width:350px;
                    height: 245px;;
                }
                &#nota_card,&#rs_card,&#covid_card{
                    width:auto;
                    .portfolio-card-image{
                        width:auto;
                    }
                }
            }
        }
    }
}



.titles-container,.project-text,.project-text-container{
    z-index: 5;
}

.ws-career{
    .cv-item{
        padding:20px;
        border-radius: 1px;
        img{
            padding-right: 20px;
        }
        &:hover{
            box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.1);
            cursor:pointer;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
    }
}

@media screen and (max-width:800px){
    .ws-career{
        .cv-item{
            .cv-logo-container{
                width: 0px !important;
                min-width: 0 !important;
                img{
                    display: none;
                    width: 0px;
                }
            }
            .date-container{
                display: flex;
                flex-direction: column;
                :not(u,i){
                    display: none;
                }
            }
        }
    }
    .modal-content{
        width: 350px !important;
    }
}

modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    span{
        &::selection {
            background-color: $orange;
        }
    }
    .modal-content{
        h2{
            font-size: 28px;
            color:$light-black;
            font-weight: bold;
            &::selection {
                background-color: $orange;
            }
        }
        width: 524px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: $white;
        .cv-reference-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i,a{
                text-align: center;
            }
            a{
                color:$light-black
            }
        }
    }
    .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }
}

#download_cv{
    &:hover {
        a{
        color:$white !important;
    }}
}


.portfolio-info{
    display: flex;
    flex-direction: row;
    >div{
        display: flex;
        justify-content: center;
    }
    .portfolio-info-text{
        >div{
            display: flex;
            justify-content: space-between;
            width:80%;
            >p{
                text-align: left;
            }
        }
    }
    .info-photo-caroussel-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: calc(100vh - 217px);
        width: 50%;
        .info-arrow{
            cursor: pointer;
            fill:$white;
            stroke: $white;
            height:50px;
            width:auto;
            &.left{
                transform: rotate(90deg);
            }
            &.right{
                transform: rotate(-90deg);
            }
        }
        .info-image{
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.15);
            max-width: 90%;
        }
    }
}
